#calc-container {
    width: 200px;
}
#output {
    font-size: 24px;
    margin-bottom: 10px;
    min-height: 30px;
    border: 1px solid;
    width: 100%;
    text-align: right;
}
button {
    font-size: 18px;
    width: 40px;
    height: 40px;
    margin: 5px;
}
.row1 {
    background-color: #f0f0f0;
}
.row2 {
    background-color: #d0d0d0;
}
.row3 {
    background-color: #b0b0b0;
}
.row4 {
    background-color: #909090;
}
#calculator {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}